
.menu-bar {
  width: 100%;
  height: 50px;
  background-color: #005A96;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.menu-link:first-child {
  margin-left: 20px;
}

.menu-link a {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-animation: ease-out 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation:  ease-out 2s; /* Firefox < 16 */
  -ms-animation: ease-out 2s; /* Internet Explorer */
  -o-animation: ease-out 2s; /* Opera < 12.1 */
  animation: ease-out 2s;
}

.menu-link a:hover {
  border-bottom: 3px solid white;
  -webkit-animation: ease-in 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation:  ease-in 2s; /* Firefox < 16 */
  -ms-animation: ease-in 2s; /* Internet Explorer */
  -o-animation: ease-in 2s; /* Opera < 12.1 */
  animation: ease-in 2s;
}

.gradientBorder {
    position: relative;
    overflow: hidden;
    padding-bottom: 2px;
    margin-bottom: -2px;
    cursor: pointer;
    color: #474E51;
}

.gradientBorder::before {
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: linear-gradient(to top right, #13f3b9, #5878F3);
    transition: transform .3s ease-in-out;
    transform: translateX(-101%);
}

.gradientBorder:hover::before {
    transform: translateX(0);
}

