table {
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
  margin-top: 60px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:first-child {
  background-color: transparent !important;
  font-weight: bold;
  color: #005A96;
  font-size: 18px;
}

th {
  height: 50px;
}

td {
  font-size: 14px;
  font-weight: normal;
  color: black;
  padding: 20px 0px 20px 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: white;
}